/* .post-subreddit-loading {
    width: 100px !important;
}
.content {
    height: 400px;
}
 */
/* .loading-attribute {
    display: inline;
    width: 40px;
}
.skeleton-inline {
    width: 10px;
} */
