:root {
  --light-grey: #ABB5BE;
  --dark-grey: #54595E;
}

#navbar {
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
  z-index: 1;
  margin-bottom: 20px;
}

#brand {
  font-size: 1.25em;
}

.no-decor, .no-decor:link, .no-decor:visited, .no-decor:hover, .no-decor:focus {
  text-decoration: none;
}

#page-title {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-bottom: 0;
  color: black;
}

#subreddit {
  color: var(--dark-grey);
  padding-top: .3125rem;
  padding-bottom: .3125rem;
}

#searchField {
  width: 300px;
}

.center {
  text-align: center;
  margin-top: 40px;
}

#feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  height: auto;
  width: 600px;
  padding: 20px;
  margin: 20px;
  background-color: #F8F9FA;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.post-title, .post-title:link, .post-title:visited, .post-title:hover, .post-title:focus  {
  color: black;
}

.content {
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thumnail {
  width: 150px;
  height: auto;
  border-radius: 3px;
  margin-bottom: 16px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.attribute > i {
  margin-left: 5px;
  color: var(--dark-grey);
}

img {
  width: 100%;
}

.post-subreddit, .post-subreddit:link , .post-subreddit:visited , .post-subreddit:hover , .post-subreddit:focus {
  color: var(--dark-grey);
  font-size: small;
}